main {
    min-height: 50vh;
}

footer {
    text-align: center;
    padding: var(--pico-block-spacing-vertical);
    margin-top: 2rem;
    border-top: 1px solid var(--pico-table-border-color);
}

footer p {
    margin: 0;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pico-table-border-color);
    padding: var(--pico-block-spacing-vertical);
    margin-bottom: 1rem;
}

.site-header a {
    margin: 0;
}

.site-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.site-subtitle {
    font-size: 0.85rem;
    margin: 0;
}

.card,
.message {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    padding: 16px;
    background-color: var(--pico-table-border-color);
    border-radius: var(--pico-border-radius);
}

.card-metrics {
    font-size: 0.7rem;
    width: 100%;
    padding-bottom: 1rem;
    margin-top: auto;
    border-bottom: 1px solid var(--pico-form-element-border-color);
}
.card-metrics span {
    color: var(--pico-primary);
    font-size: 4em;
    font-weight: bold;

}

.message {
    display: inline-block;
    font-weight: bold;
    background-position: center left .75rem;
    background-size: 1rem auto;
    background-repeat: no-repeat;
    padding: var(--pico-block-spacing-horizontal);
    padding-left: calc(var(--pico-form-element-spacing-horizontal) + 1.5rem) !important;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s, visibility 0s 0.5s;
}
.message.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s;
}

.message-success {
    background-image: var(--pico-icon-valid);
}
.message-error {
    background-image: var(--pico-icon-invalid);
}
.message-container {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    z-index: 1000;
}

.inline-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}
/* Any items */

table .actions {
    display: flex;
    gap: 0.5rem;
}
table .actions button,
table .actions a {
    margin-bottom: 0;
}

body.dashboard .card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

body.dashboard .card a {
    margin-bottom: 0;
    align-self: flex-end;
}


@media (min-width: 768px) {
    .inline-title > * {
        margin: 0;
    }
}